p, li{
    font-size:x-large;
}

.navbar-brand{
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 10px;
}

#nav li{
    font-size:medium;
    
}

h1, h2 {
    color:rgb(0, 100, 160);
    margin-top: 30px;
    margin-bottom: 30px;    
    border-color: rgb(0, 100, 160);
}

h1 {
    border-bottom: solid 2px;
}

h2 {
    border-bottom: solid 1px;
}

.img-fluid {
    margin-top: 30px;
    margin-bottom: 30px;;
}

.active {
    border-bottom: solid 1px;
    border-color: white;
}

footer {
    background-color: #242424;
    color: white;
    font-size: small;
}



